.start-menu h1{
  text-align: center;
font-style:justify;

}
.jumbotron{
  background-image: url("../img/mistakes.jpg");

}
body{
    background-image: url("../img/mistakes.jpg");

}
.player-console{
  color:#03f12b;
  display: none;

}
.start-menu {
    color:#03f12b

}
